body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-top: 10px;
  padding-left: 30px;
}

#controls {
  position: relative;
  min-height: 150px;
}

#forward {
  position: relative;
}


.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  margin-top:60px;
  margin-left:10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.choicedd {
  margin-top: 20px;
  margin-left: 20px;
}

.username {
  margin-left: 40px;
  text-align: right;
}

.scenario {
  margin-top: 20px;
  margin-right: 20px;
  max-width: 150px;
  font: 14px "Century Gothic", Futura, sans-serif;
}
.sectiontit {
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
  font: 20px "Century Gothic", Futura, sans-serif;
}

.sitetit {
  margin-top: 20px;
  margin-bottom: 10px;
  font: 72px "Century Gothic", Futura, sans-serif;
  line-height: 72px;
}

.aboutbody {
  margin-top: 20px;
  margin-bottom: 10px;
  font: 16px "Century Gothic", Futura, sans-serif;
}

.site-layout-content {
  min-height: 560px;
  padding: 24px;
  background: #fff;
  font: 18px "Century Gothic", Futura, sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
